*{
    margin:0px;
    padding:0px;
}
.container{
    width:100%;
    height:fit-content;
    text-align: center;
    margin-top:30px;
}
a{
    background-color: grey;
    color:white;
    padding:4px;
}
button{
    background-color: red;
    color:black;
    padding:2px;
    font-size:20px;
    cursor:pointer;
    border:none;
}
button:hover{
    background-color: rgb(204, 73, 73);
}